# dependencies
/node_modules
/.pnp
.pnp.js

/dist

# misc
config.json
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.test
.history
.eslintcache
key.json
tsconfig.tsbuildinfo
.vscode
*.pem
src/Artifacts
public/index.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn 3 / Berry
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
